---
import LocaleSelector from "./LocaleSelector.astro";

---

<header class="bg-white dark:bg-slate-900 p-3 flex justify-between border border-b border-gray-200">
    <p class="dark:text-white">Carlos Botero</p>
    <nav></nav>
    <LocaleSelector/>
</header>